// Base Palette
$red: red;
$light: aqua;
$dark: black;

// Header Colors
$head-bg: black;
$head-txt-clr: cyan;

// Nav Colors
$nav-bg: grey;
$nav-txt-clr: cyan;

// Hero Colors
$hero-bg: #000;
$hero-text-clr: aqua;

// Footer Colors
$footer-txt-clr: cyan;
$footer-bg: black;

// App Colors
$app-bg-color-fb: rgb(0, 0, 0);
$app-bg-color: rgba(0, 238, 255, 0.5);
