// Base Palette
$red: red;

// Header Colors
$head-bg: cyan;
$head-txt-clr: rebeccapurple;

// Nav Colors
$nav-bg: grey;
$nav-txt-clr: cyan;

// Hero Colors
$hero-bg: #000;
$hero-text-clr: aqua;

// Footer Colors
$footer-bg: rgb(97, 33, 180);
