// Font Families
$apps-title: Impact;
$apps-subtitle: 'Courier New', Courier, monospace;
$cinzel-400: 'Cinzel', serif;

// Base Font Sizes
$h1-default: 2.5rem;

// Links Font Families
$app-links: 'Courier New', Courier, monospace;
$michroma: 'Michroma', sans-serif;
$aldrich: 'Aldrich', sans-serif;

// Font Sizes
$font-size: calc(10px + 2vmin);

// About Font
$about-p-font-size: 1.5rem;

// Tech Font
$tech-font-size: 2rem;

// Header Font
$head-font-fam: $aldrich;
$head-font-size: $font-size;

// Footer Font
$footer-font-size: $font-size;

// Card Font
$card-font-size: $font-size;
$card-font-fam: $aldrich;
