@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Cinzel&family=Michroma&display=swap');

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
