@use '../abstracts/' as *;

.contact {
  display: flex;
  gap: 1rem;
  flex-flow: column nowrap;
  align-items: center;
  form {
    flex: 1 1 100%;
    width: 75%;
  }
}

.user,
.email {
  width: 100%;
} 

.message-input {
  width: 100%;
  min-height: 200px;
  text-align: start;
}