@use '../abstracts' as *;

.app-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  min-height: 20vh;
  font-size: $font-size;
  font-family: $aldrich;
  color: $red;
  background-color: $head-bg;
}
