@use '../abstracts' as *;

.app-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  font-size: $head-font-size;
  font-family: $head-font-fam;
  color: $head-txt-clr;
  background-color: $head-bg;
  
  .name {
    flex: 0 1 50%;
  }

  ul {
    gap: 1rem;
    padding: 0;
  }
}

@media screen and (max-width: 1024px) {
  .app-header {
    flex-flow: column wrap;
  }

  .name {
    text-align: center;
  }
}
