@use '../abstracts' as *;

.nav {
  display: flex;
  flex: 1 1 50%;
  flex-flow: row wrap;
  justify-content: space-between;
  font-family: $apps-subtitle;
  border-radius: 4px;
  color: $nav-txt-clr;
  
  .nav-link {
    padding: 4px;
    border: 1px;
    border-radius: 4px;
  }

  .active {
    color: white;
    box-shadow: 2px 4px 8px cyan;
  }

  li {
    text-decoration: none;
    list-style-type: none;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
}

@media screen and (max-width: 425px) {
  .nav {
    flex-flow: column wrap;
  }
}
